/* === Basic Styles ===*/
body {
  font-family: 'Montserrat', sans-serif;
}

/* === Grid System === */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* === Header === */
header {
  background-color: firebrick;
  height: 120px;
}

header h1 {
  font-family: 'Special Elite', cursive;
  font-size: 52px;
  color: #fff;
  padding-left: 15px;
}

header nav {
  float: right;
}

header nav ul li {
  display: inline-block;
  padding: 35px 15px;
}

header nav ul li a {
  font-size: 20px;
  text-decoration: none;
}

header nav ul li a {
  color: #fff;
}

header nav ul li a:hover {
  color: darkblue;
}

/* === Name === */
#name {
  height: 300px;
}

#name .full-width {
  padding: 20px 0;
}

#name h2 {
  font-size: 42px;
  color: darkblue;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

#name h3 {
  font-size: 32px;
  text-align: center;
}

/* === Quote === */
#quote {
  height: 400px;
}

#quote .full-width {
  padding: 30px 0;
}

#quote p {
  font-size: 20px;
  line-height: 40px;
  padding-left: 25px;
}

#quote img {
  height: 300px;
  padding-left: 50px;
}

/* === Blog === */
#blog {
  height: 400px;
}

#blog .full-width {
  padding: 50px 0;
}

#blog h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
  text-align: center;
}

#blog p {
  font-size: 20px;
  line-height: 40px;
}

#blog button {
  background-color: firebrick;
  font-size: 16px;
  padding: 10px;
}

#blog button a {
  color: #fff;
  text-decoration: none;
}

/* === Crafts === */
#crafts {
  height: 400px;
}

#crafts .full-width {
  padding: 25px 0;
}

#crafts h2 {
  font-size: 42px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
}

#crafts p {
  font-size: 20px;
  line-height: 40px;
}

#crafts h3 {
  font-size: 32px;
}

/* === Footer === */
footer {
  height: 100px;
  background-color: firebrick;
}

footer .full-width {
  padding: 25px 0;
}

footer p {
  font-size: 16px;
  color: #fff;
}

footer nav ul li {
  display: inline-block;
}

footer nav ul li i {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
}

footer nav ul li i:hover {
  color: darkblue;
}

/* === About Page === */
#about {
  height: 500px;
  padding-left: 20px;
}

#about .full-width {
  padding: 20px 0;
}

#about h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
}

#about p {
  font-size: 20px;
  line-height: 40px;
}

#about img {
  height: 400px;
  padding-left: 50px;
}

#teaching {
  height: 500px;
  padding-left: 20px;
}

#teaching .full-width {
  padding: 40px 0;
}

#teaching p {
  font-size: 20px;
  line-height: 40px;
}

#about-quote {
  height: 100px;
  text-align: center;
}

#about-quote p {
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
}

/* === Portfolio === */
#portfolio {
  height: 400px;
}

#portfolio .full-width {
  padding: 20px 0;
}

#portfolio h2 {
  font-size: 42px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
  text-align: center;
}

#portfolio p {
  font-size: 20px;
  line-height: 40px;
}

#recent-work {
  height: 500px;
  padding-left: 50px;
}

#recent-work .full-width {
  padding: 50px 0;
}

#recent-work .third-width {
  padding-right: 15px;
}

#recent-work h3 {
  font-size: 32px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
  text-align: center;
}

#recent-work img {
  width: 200px;
  padding-left: 75px;
}

#recent-work ul {
  padding-left: 15px;
}

#recent-work ul li {
  font-size: 20px;
}

#recent-work button {
  background-color: firebrick;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

#recent-work button a {
  color: #fff;
  text-decoration: none;
}

#past-work {
  height: 600px;
  padding-left: 50px;
}

#past-work .full-width {
  padding: 50px 0;
}

#past-work .third-width {
  padding-right: 15px;
}

#past-work h3 {
  font-size: 32px;
  font-family: 'Special Elite', cursive;
  color: darkblue;
  text-align: center;
}

#past-work img {
  width: 200px;
  padding-left: 75px;
}

#past-work ul {
  padding-left: 15px;
}

#past-work ul li {
  font-size: 20px;
}

#past-work button {
  background-color: firebrick;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

#past-work button a {
  color: #fff;
  text-decoration: none;
}

/* === Contact === */
#contact {
  height: 500px;
  padding-left: 80px;
}

#contact .full-width {
  padding: 20px 0;
}

#contact .half-width {
  padding: 50px 0;
}

#contact h2 {
  font-family: 'Special Elite', cursive;
  font-size: 42px;
  color: darkblue;
  text-align: center;
}

#contact p {
  font-size: 20px;
  line-height: 40px;
}

#contact p span {
  font-weight: bold;
}

#contact img {
  height: 300px;
  padding-left: 80px;
}
